<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="w-full h-screen bg-zinc-700 text-white">
    <a class="text-blue-500 mb-2" href="/index">Registration </a>
    <h1 class="text-xl mb-2">Login Account</h1>
    <form action="/login" method="post">
      <div>
        <input
          class="outline-none border-2 border-zinc-500 px-2 py-1"
          type="email"
          placeholder="email"
          name="email"
        />
        <input
          class="outline-none border-2 border-zinc-500 px-2 py-1"
          type="password"
          placeholder="password"
          name="password"
        />

        <input
          class="bg-blue-500 px-2 py-1.5 text-xl rounded-[10px] cursor-pointer"
          type="submit"
          value="Login Account"
        />
      </div>
    </form>
  </body>
</html>
